.tela-cheia {
  height: 100;
}

.imagem {
  height: 100;
  width: 150;
}

.Item {
  color: #fc030f;
}

.Titulo {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ion-loading.custom-loading {
  --background: #ffffff;
  --spinner-color: #000000;

  color: #ff0000;
}